* {
    margin: 0;
}

body {
    /* height: 100vh;
    width: 100vw; */
    display: flex;
    justify-content: center;
    padding-top: 64px;
}

button {
    height: 42px;
    width: 120px;
    font-size: 14px;
    font-weight: 600;
    background-color: #f0452d;
    color: white;
    border-radius: 4px;
    border: none;
    margin-top: 12px;
}

input {
    height: 32px;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 3px;
    margin: 8px 0;
    padding: 0 8px;
}

.content {

}

.bg {
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.6);
}

.modal {
    width: 40vw;
    height: 200px;
    background: white;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    padding: 24px;
}

.task {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
}